<div class="jumbotron">
  <h1>Survey/Clinic Note Project!</h1>
  <p>This application provides a fully customizable survey system, accompanied with a note generator. All you have to do is create your own survey, then build a note template! Choose where the location of the survey results appear in the note and let the application do the rest!
  </p>
  <p><%= link_to "Build a Survey!", new_survey_path, :class => "btn btn-lg btn-primary" %></p>
</div>