<h1>New segment</h1>
<%= form_tag(note_segments_path(@note, @segment), :method => :post) do %>
  <%= hidden_field_tag :answers, @note.survey.questions.count %>
  <%= render 'form' %>
  <%= submit_tag("Submit", :class => "btn btn-primary") %>
<% end %>

