<h2> New Survey </h2>
<div class="form-wrap">
	<%= form_for @survey do |f| %>
	<div id="field">
		<%= f.label :title %>
		<%= f.text_field :title %>
	</div>
	<%= f.submit "Submit", :class => "btn" %>
	<% end %>

</div>